body {
    background: white;
}
.center {
    margin: 0 auto;
}
ul {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.top {
    padding-top: 41px;
    background: linear-gradient(
        rgba(4, 80, 180, 0.705),
        rgba(116, 26, 116, 0.75)
      ), url("../images/avengers-endgame-promo-crop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    position: relative;
    .header {
        width: 70%;
        ul {
            list-style: none;
            li {
                float: left;
                button {
                    color: white;
                    float: right;
                    padding: 7px 56px;
                    border-radius: 24px;
                    background: rgba(116, 26, 116, 0);
                    border: 2.5px white solid;
                    &:hover {
                        background: rgba(116, 26, 116, 0.377);
                    }
                }
            }
            .deal-now {
                float: right;
            }
            .logo {
                font-size: 20px;
                span {
                    font-weight: 600;
                    letter-spacing: 3px;
                }
            }
        }
    }
    .hero {
        width: 70%;
        .left-hero-section {
            margin-left: 50px;
            float: left;
            h1 {
                font-weight: 500;
                margin-top: 2rem;
                margin-bottom: 3rem;
            }
            ul {
                margin-left: 50px;
                list-style: none;
                li {
                    font-weight: 600;
                    margin-top: 30px;
                    letter-spacing: 1px;
                    &:before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        background: url("../images/icons/check.png") no-repeat;
                        background-size: cover;
                        display: block;
                        float: left;
                        margin-right: 17px;
                        margin-top: 2px;
                    }
                }
                
            }
            button {
                margin-top: 25px;
                color: white;
                padding: 7px 56px;
                border-radius: 24px;
                background: rgba(116, 26, 116, 0);
                border: 3.5px white solid;
                &:hover {
                    background: rgba(116, 26, 116, 0.377);
                }
            }
        }
        .right-hero-section {
            margin-top: 50px;
            float:right;
            // transform: rotate(270deg);
            h4, img {
                float: left
            }
        }
    }
    .platforms {
        position: absolute;
        border-radius: 47px;
        box-shadow: 0px 0px 11px #757171;
        background: #ffffff;
        bottom: -40px;
        left: 50%;
        margin-left: -30%;
        width: 60%;
        div {
            padding: 12px 30px;
            width: 60%;
            img {
                width: 20%;
                &:not(:last-child) {
                    margin-right: 5%;
                }
            }
        }
    }
}
.second-row {
    margin-top: 100px;
    p {
        color: #439adb;
        font-weight: 600;
        margin-left: 55px;
    }
    img {
        width: 100%;
        margin-top: 86px;
    }
    h1{
        margin-left: 55px;
    }
    ul {
        margin-left: 100px;
        list-style: none;
        margin-top: 50px;
        li {
            margin-top: 12px;
            font-size: 20px;
            &:before{
                content: "";
                width: 20px;
                height: 20px;
                background: url("../images/icons/check.png") no-repeat;
                background-size: cover;
                display: block;
                float: left;
                margin-right: 17px;
                margin-top: 2px;
            }
        }
    }
    button {
        font-weight: 600;
        margin-left: 100px;
        margin-top: 25px;
        color: white;
        padding: 15px 56px;
        border-radius: 34px;
        background: rgb(71, 188, 255);
        border: 3.5px white solid;
        &:hover {
            background: rgb(95, 111, 182);
        }
    }
}
.third-row {
    margin-top: 100px;
    .card-holder {
        width: 60%;
        .card {
            padding: 60px 14px;
            box-shadow: 0px 0px 12px grey;
            margin-bottom: 30px;
            border: none;
            img {
                width: 30%;
            }
            h5 {
                margin-top: 22px;
            }
            p {
                width: 66%;
                margin-top: 35px;
                font-size: 13.5px;
                text-align: justify;
            }
        }
        .card-blue {
            background: #438cfa;
            color: white;
            box-shadow: none;
        }
    }
}
.fouth-row {
    margin-top: 100px;
    background: linear-gradient(
        rgba(4, 80, 180, 0.705),
        rgba(116, 26, 116, 0.75)
      ), url("../images/family-time.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    .inner-container {
        margin-left: 250px;
        width: 80%;
        h1 {
            margin-bottom: 30px;
        }
        .icons {
            width: 100%;
            margin-top: 12px;
        }
        .top-paid-section {
            margin-top: 40px;
            .top-paid-left {
                margin-top: 60px;
                button {
                    font-weight: 600;
                    display: block;
                    margin-top: 25px;
                    color: white;
                    padding: 7px 56px;
                    border-radius: 24px;
                    background: rgba(116, 26, 116, 0);
                    border: 3.5px white solid;
                    &:hover {
                        background: rgba(116, 26, 116, 0.377);
                    }
                }
            }
        }
    }
}
.fifth-row {
    margin-top: 100px;
    .inner-fifth-row {
        width: 70%;
        p {
            text-align: center;
        }
        h1 {
            text-align: center;
        }
        .card-section {
            .card {
                h3{
                    float: left;
                }
                img {
                    width: 35px;
                    float: left;
                }
            }
        }
    }
    
}